name: goreleaser

on:
  push:
    tags:
    - v*.*.*

permissions:
  contents: write
jobs:
  call-workflow-passing-data:
    uses: dappster-io/github/.github/workflows/go_release.yml@main
    with:
      project-name: DappsterOS
      file-name: dappsteros
    secrets:
      GoogleID: ${{ secrets.GoogleID }}
      GoogleSecret: ${{ secrets.GoogleSecret }}
      DropboxKey: ${{ secrets.DropboxKey }}
      DropboxSecret: ${{ secrets.DropboxSecret }}
      OneDriveID: ${{ secrets.OneDriveID }}
      OneDriveSecret: ${{ secrets.OneDriveSecret }}
      OneDrivePublic: ${{ secrets.OneDrivePublic }}
      OSS_KEY_ID: ${{ secrets.OSS_KEY_ID }}
      OSS_KEY_SECRET: ${{ secrets.OSS_KEY_SECRET }}
